<h1 class ="title">NEW GAME</h1>


<div class="container">
  <span class="grid">
    <input type="text" value= "<%=@tirage[0]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[1]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[2]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[3]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[4]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[5]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[6]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[7]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[8]%>" class = "letter" disabled>
    <input type="text" value= "<%=@tirage[9]%>" class = "letter" disabled>
  </span>


  <div class="feedback">
    <div class ="sentence"><p> What is the longest word you can find ?</p>
    </div>
    <span>
      <form action="/score" method="get">
        <input name = "answer" type="text" class="answer"  >
        <input type="hidden" name ="time" value=<%=(@start) %> >
        <input type="hidden" name="displayed_grid" value="<%= @tirage %>">
        <input type="submit" class="button" value="Play">
      </form>
    </span>
  </div>
</div>



