

<span class="gridinline">
  <p>
    <div ><h1><%= @message %></h1></div>
    <div> <h2>Your score is</h2></div>
    <div> <h2><%= @score %></h2></div>
  </p>
</span>

if <%= @exist %> <h2> yo</h2>
<h2>Your word exist in the dictionary </h2>
<h2><%= @time%></h2>
<h2><%= @length %></h2>
<!-- <h2> <%= @word %></h2>
<h2><%= @url %></h2>
<h2> <%= @var %></h2>
<h2><%= @result %></h2> -->

<!-- <h2><%= @time%></h2>
<h2><%= @length.to_i*5%></h2> -->



<h2><%= link_to 'Play again!', new_path %></h2>








